# TOML format - Tom's Obvious, Minimal Language

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
Django = ">=3.2,<4.0"
flask = "*"

[dev-packages]
Django = "*"

[requires]
python_version = "3.10"
